[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "peptoolkit"]
	path = peptoolkit
	url = https://github.com/jrcodina/peptoolkit
